<div id="content_wrapper" class="fullWidth1-wrapper">
	<div class="content">
		<div class="header-wrapper header-sm">
			<header class="container-fluid">
				<div class="row">
					<div class="col">
						<h1>{{title}}</h1>
					</div>
				</div>
			</header>
		</div>
		<div class="content-body">
			<div class="row" *ngIf="zones">
				<div class="col-lg-4" *ngFor="let zone of zones">
					<app-zone-badge [zone]="zone"></app-zone-badge>
				</div>
			</div>
			<div class="row" *ngIf="zones">
				<div class="col-lg-12">
					<app-heatmap [zones]="zones"></app-heatmap>
				</div>
			</div>
		</div>
	</div>
</div>
<footer id="footer_wrapper" class="footer_wrapper"></footer>
