<div class="card type--profile">
  <a [routerLink]="['/zones/' + zone.id]"
    href="javascript:void(0)"
    class="card-header card-image card-background"
    [ngStyle]="{background: 'url(' + zone.image + ')'}" md-ripple>
    <h2 class="card-title left-bottom overlay text-white">{{ zone.name }}</h2>
  </a>
	<footer class="card-footer border-top">
    <div class="row p-t-10 p-b-10">
      <div class="col"><span class="count">{{ occupancy }}</span><span>Occupancy</span></div>
    </div>
  </footer>
</div>